img{
  padding: 75px;
  width: 25%;
  transition: .5s ease;
}
h1{
  font-family: 'Codystar', cursive;
  font-size: 75px;
  color: #fbad37;
  text-align: center;
}
.img:hover{
  background-color: #c037fb;
  opacity: 25%;
}
.ss:hover{
  background-color: #fbad37;
  opacity: 25%;
}
