h1{
  margin-left: 75px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
}
h2{
  margin-left: 50px;
}
h3:hover{
  color: #de3dff;
}
img{
  transition: .5s ease;
  display: inline;
}
th{
  font-size: 30px;
  font-style: italic;
  text-align: left;
}
h3{
  font-size: 45px;
}
.cv{
  text-align: right;
}
.w{
  width: 1200px;
}
.gal{
  height: 600px;
  margin-left: 20px;
}
.info{
    font-size: 28px;
}
#main{
  width: 75%;
  padding-left: 150px;
}
